/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7e6; /* Fondo suave en tonos cálidos */
    color: #333;
}

/* Página de bienvenida */
.welcome-section {
    text-align: center;
    padding: 50px;
    background-color: #ff9a8b; /* Color anaranjado suave */
    color: white;
}

.welcome-section h1 {
    font-size: 2.5em;
}

.welcome-section p {
    font-size: 1.2em;
}

.bienvenida-img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

/* Galería de fotos */
.gallery-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffcd80; /* Color anaranjado cálido */
}

.gallery-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Carrusel */
.carousel {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    transition: transform 1s ease-in-out;
}

.carousel-item {
    width: 100%;
    height: auto;
}

.frases {
    margin-top: 30px;
    font-style: italic;
    color: #4f4f4f;
}

.frases p {
    font-size: 1.2em;
    display: none; /* Las frases se mostrarán con JavaScript */
}

/* Animación de frases */
@keyframes showFrases {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
